body {

    margin: 0;
    padding: 0;
}

/*Header Start*/

header {

    background-color: #FFFFFF;
    padding: 0 10px;
 
}





.wrapper {

    width: 80%;
    margin: 0 auto;
    overflow: hidden;

   
}

.logo {
    width: 30%;
    float: left;
   

}

.logo img {
    width: 100%;
    padding: 11px 0;
}

.menu {
    width: 70%;
    float: right;
    margin: 18px 0px;
 

}
.menu ul{
    float: right;
    
}

.menu ul li{
    list-style: none;

    float: left;
    
}


.menu ul li a{

    
    font-family: sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #4F5F67;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 35px;
    transition: .3s;
    
    
}

.menu ul li a:hover {
    color: #53D2DC;
}

.menu ul li:last-child a {
    padding-right: 0;
}


/*Header End*/




/*Banner Start*/

.banner {

    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}   

.b_content {

    width: 30%;
    padding:30px;
    margin-top: 45px;
    margin-bottom: 180px;
    background-color: rgba(11, 11, 11, .5)
}

.b_content h1 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 0;
}

.b_content  p {

    
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffffc9;;
    margin: 0;

}

.b_content  button{
     

    width: 170px;
    height: 38px;
    background: #00000094;;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #ffffffbd;;;
    margin-top: 17px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    padding: 0;

}

.b_content  button:hover {
    color: #60a5f8;;
}


.b_content  button:focus {
    outline: 0;
}












/*Banner End*/


